nav {
    background-color: transparent;
    padding: 30px 10px;
    text-align: center;
}

nav a {
    font-size: 20px;
    margin: 15px;
    text-decoration: none;
    color: rgb(41, 6, 6);
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #fff;
    text-decoration: underline;
}

h1{
    font-size: 50px;
    font-family: Calibri;
}